*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background:#f5f5f5;
}

/* ===== NAVBAR ===== */
.navbar {
  position: relative; /* supaya ul bisa di tengah */
  padding: 20px 50px;
  background: white;
  display: flex;
  align-items: center;
}

/* Menu di tengah */
.navbar ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #2a7df3;
}

.logo-img {
  width: 40px;    
  height: 40px;
  object-fit: contain;
}

.navbar a{
  text-decoration:none;
  color:#333;
  font-weight:bold;
}

/* ===== RESPONSIVE NAVBAR ===== */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap; /* logo dan menu bisa baris baru */
    justify-content: flex-start;
    padding: 15px 20px;
  }

  .navbar ul {
    position: static;    /* menu tidak absolute lagi */
    transform: none;
    flex-direction: column; /* menu vertikal */
    width: 100%;
    margin-top: 10px;
    align-items: flex-start;
    gap: 10px;
  }
}

/* DESKRIPSI */
.desc-out {
  margin-top: 90px;
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* FORM CONTAINER */
.container{
  width: 90%;
  max-width: 500px;
  margin: 30px auto;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h2{
  margin-bottom: 15px;
}

/* INPUT */
.search-box{
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

/* SELECT DROPDOWN */
select{
  width: 100%;
  height: 150px;
  font-size: 16px;
  display: none;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 8px;
}

/* BUTTON */
button{
  width: 100%;
  padding: 12px;
  border: none;
  background: #4CAF50;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover{
  background: #3a9c43;
}

/* RESULT BOX */
.result-container {
  width: 90%;           /* lebar responsive */
  max-width: 700px;     /* lebih lebar dari form */
  margin: 20px auto;
}

.result {
  margin-top: 10px;
  padding: 20px;
  background: rgba(255,255,255,0.6);
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 10px;
  text-align: left;
  white-space: pre-line;
  opacity: 0;
  transition: .4s;
  max-height: 500px;
  overflow-y: auto;
}


.result.show {
  opacity: 1;
}
